<meta charset="utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />


<article class="page-content">
  <div class="row">
    <div class="col-sm-12 mb-4">
      <div class="card -user">
        <div class="card-body">
          <div class="media">
            <div class="avatar h-bg-contain align-self-center ml-1 mr-4"
              style="background-image: url('./images/hugo.jpg');"></div>
            <div class="media-body">
              <h3 class="card-title mb-0">Track your exercise keep you more active </h3>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <p class="card-text mb-0">anywhere</p>
                </li>
                <li class="list-inline-item">
                  <p class="card-text mb-0">anytime</p>
                </li>
                <li class="list-inline-item">
                  <p class="card-text mb-0">you welcome</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card -status">
        <div class="card-body">
          <h3 class="card-title icon-meh">
            <span>keeps active Stay Healthier</span>
          </h3>
          <p class="card-text">love life </p>
        </div>
        <div class="card-footer bg-warning">
          <small class="text text-white text-uppercase">yellow keep You thinking positive</small>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card -status">
        <div class="card-body">
          <h3 class="card-title icon-smile">
            <span>Life is To Short Keep Smile and be happier</span>
          </h3>
          <p class="card-text">Nice To Be Nice</p>
        </div>
        <div class="card-footer bg-success">
          <small class="text text-white text-uppercase">Green keep you happier and Thinking of Others As love Your Self
          </small>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card -status">
        <div class="card-body">
          <h3 class="card-title icon-frown">
            <span>Eats Heathy Food keep you healthier</span>
          </h3>
          <p class="card-text">Be Kinds </p>
        </div>
        <div class="card-footer bg-danger">
          <small class="text text-white text-uppercase"> Pinks emotional colors! My Mum Loved</small>
        </div>
      </div>
    </div>
  </div>
</article>
</section>
</main>
</div>
</div>

<nav class="header navbar navbar-expand-lg navbar-dark bg-primary fixed-top main-header">
  <h1 class="brand -tiny text-white h-bg-contain m-4">Health Track</h1>
  <ul class="navbar-nav flex-row ml-auto d-none d-sm-flex">
    <style>


.nav-item a:hover{
  color: rgb(255, 25, 0);
  font-size: 20px;
}

@media screen and (max-height: 450px) {


}
      </style>
    <li class="nav-item">
      <a class="nav-link navbar icon-power-on" href="/"><i class="fa fa-home"></i>Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar icon-power-off" href="/exercise"title="exercise"><i class="fa fa-heartbeat"></i>
        <span>Exercise</span>
      </a>
    </li>
  
    </li>
    <li class="nav-item">
      <a class="nav-link navbar icon-power-off" href="/profile" title="exercise"><i class="fa fa-user"></i>
        <span>profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar icon-power-off" href="/contact" title="contact"> <i class="fa fa-envelope"></i>
        <span>Contact Us</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar icon-power-off" href="/logout" title="logout"><i class="fa fa-lock"></i>
        <span>logout</span>
      </a>
    </li>
  </ul>
</nav>